---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import logo from "../assets/iglesia.png";
import Info from "../components/Info.astro";
---

<Layout title="IBF-Monte Calvario">
  <main class="h-screen bg-gradient-to-b from-white to-[#021825]">
    <div
      class="flex flex-col justify-center items-center text-center sm:mt-10 md:mt-5"
    >
      <div class="bg-[#133c55] text-white border sm:my-2 md:my-0 lg:my- w-full">
        <h1 class="text-lg font-bold">Estamos en mantenimiento</h1>
      </div>
      <div class="lg:py-6 md:py-6 py-24">
        <Image src={logo} alt="logomc" class="w-80 mx-auto" />
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center text-center sm:pt-6 md:pt-0 lg:pt-0"
    >
      <p class="text-[#153144] text-lg font-bold mb-6">Síguenos en</p>
      <div class="flex flex-col space-y-4 mb-8 w-full max-w-xs">
        <a
          href="https://wa.me/+51966600819"
          class="bg-[#c7f9cc] text-[#235b7c] text-xl font-semibold py-3 px-10 rounded-full shadow-lg"
        >
          WhatsApp
        </a>
        <a
          href="https://goo.gl/maps/gA3rrQjGkTZfE6Zo6"
          class="bg-[#c7f9cc] text-[#235b7c] text-xl font-semibold py-3 px-10 rounded-full shadow-lg"
        >
          Ubicación
        </a>
        <Info />
      </div>
    </div>
  </main>
</Layout>
