---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Servicios - Iglesia Bautista Fundamental Monte Calvario">
  <Header />
  <main>
    <section class="py-16">
      <div class="max-w-4xl-md m-0 text-center">
        <h1 class="list-none p-0">Nuestros Servicios</h1>
        <ul class="list-none p-0">
          <li class="mb-4 text-xl">Servicio Dominical: Domingos 10:00 AM</li>
          <li class="mb-4 text-xl">Escuela Dominical: Domingos 9:00 AM</li>
          <li class="mb-4 text-xl">Estudio Bíblico: Miércoles 7:00 PM</li>
          <li class="mb-4 text-xl">Reunión de Jóvenes: Viernes 7:00 PM</li>
        </ul>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
