---
import jovenes from "../images/ministerios/jovenes.png";
import rondalla from "../images/ministerios/rondalla.png";
import instituto from "../images/ministerios/instituto.png";
import kids from "../images/ministerios/kids.png";
import sembradoras from "../images/ministerios/sembradores.png";
import femenil from "../images/ministerios/femenil.jpg";
import ImageFlip from "./ImageFlip.astro";
const features = [
  {
    title: "Jovenes Monte Calvario",
    description:
      "Únete a nuestros grupos de oración y fortalece tu fe. Ofrecemos sesiones diarias de oración y vigilias mensuales.",
    img: jovenes,
  },
  {
    title: "Rondalla Bautista Monte Calvario",
    description:
      "Profundiza en las escrituras con nuestros estudios semanales. Ofrecemos clases para todas las edades y niveles de conocimiento.",
    img: rondalla,
  },
  {
    title: "Rondalla Bautista Femenil Monte Calvario",
    description:
      "Profundiza en las escrituras con nuestros estudios semanales. Ofrecemos clases para todas las edades y niveles de conocimiento.",
    img: femenil,
  },

  {
    title: "Instituto Bautista",
    description:
      "Forma parte de una comunidad amorosa y solidaria. Participa en nuestros eventos sociales, grupos de apoyo y proyectos de servicio comunitario.",
    img: instituto,
  },
  {
    title: "Monte Calvario Kids",
    description:
      "Eleva tu espíritu con nuestra música inspiradora. Únete a nuestro coro o banda de alabanza.",
    img: kids,
  },
  {
    title: "Sembradoras MC",
    description:
      "Fortalece los lazos familiares con nuestros programas especiales para parejas, jóvenes y niños.",
    img: sembradoras,
  },
];
---

<section class="py-24 bg-gradient-to-b from-mc2 via-mc3 to-mc1">
  <div class="max-w-6xl my-0 mx-auto text-center">
    <h2
      class="mt-2 text-4xl font-extrabold tracking-tight text-white sm:text-5xl"
    >
      Nuestros Ministerios
    </h2>
    <p class="text-xl my-12 text-gray-200">
      Descubre todos los ministerios de nuestra iglesia
    </p>
    <div class="feature-grid items-center px-7">
      {
        features.map((feature) => (
          <div class="hover:-translate-y-2 duration-500 bg-white rounded-lg shadow">
            <ImageFlip BackImage={feature.img} text={feature.title} />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
</style>
