<div
  class="fixed inset-x-0 top-0 -z-50 h-screen bg-no-repeat opacity-50 blur-sm md:opacity-30"
>
</div>

<style>
  div {
    background: url("../images/fondo.png");
    background-size: cover;
  }
</style>
